.post {
    display: inline-block;
    width: 100%;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px;
    background-color: white;
    margin: 5px 0;
    float: left;
    padding: 5px;
}

.post:last-of-type {
    margin-bottom: 120px;
}
    .post > .header {
        display: inline-block;
        width: 100%;
        height: 60px;
        float: left;

    }
    .post > .header > img {
        display: inline-block;
        height: 50px;
        width: 50px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        float: left;
        margin: 5px 10px 1px;
    }
    .user_title {
        display: inline-block;
        width: 80%;
        height: 60px;
        float: left;
        padding: 6px 0px 0px 5px;
        
    }
        .user_title > .user_info {
            display: inline-block;
            width: 100%;
            float: left;
            text-align: left;
            text-decoration: none;
            font-size: 16px;
        }
        .user_title > .time {
            display: inline-block;
            width: 100%;
            float: left;
            text-align: left;
            text-decoration: none;
            font-size: 12px;
            font-weight: 350;
            padding-top: 5px;
        }

    .header > .fa {
        float: right;
        width: 1%;
        margin: 6px 5px 0px 0px;
        color: black;
    }
    .footer {
        display: inline-block;
        width: 100%;
        margin-bottom: 2px;
    }
        .footer > .action {
            display: inline-block;
            width: 100%;
            height: 35px;
            padding: 6px;
            border-top: 1px solid rgb(170, 170, 170);
            border-bottom: 1px solid rgb(170, 170, 170);
            margin-top: 5px;
        }
            .action > .like {
                display: inline-block;
                width: 50%;
                float: left;
            }
            .action > .comment {
                display: inline-block;
                width: 50%;
                float: left;
            }
            .fa {
                display: inline-block;
                font-size: 13px;
                line-height: 13px;
                padding: 3px 3px 0px 0px;
            
            }
                .field {
                    position: relative;
                    margin-top: 10px;
                }
                .footer > img {
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                    float: left;
                    margin: 9px 0px 1px 10px;
                    
                }
                .field > .text_area {
                    display: inline-block;
                    float: left;
                    width: 81%;
                }
                .field > textarea {
                    display: inline-block;
                    width:  86%;
                    height: 36px;
                    min-height: 36px;
                    max-height: 150px;
                    border-radius: 18px;
                    font-size: 15px;
                    line-height: 20px;
                    padding: 5px 10px;
                    resize: vertical;
                    
                }
                .field > .imc {
                    display: inline-block;
                    position: absolute;
                    bottom: 8px;
                    right: 25px;
                    float: left;
                }
                .imc > .fa {
                    font-size: 14px;
                }
.inner_content > img {
    display: inline-block;
    width: 100%;

}